venv/
env/
.v_env/
.v-env/
backend/venv/
backend/env/
backend/v_env/

__pycache__/
*.py[cod]
*.pyo
*.pyd

.vscode/
.idea/

.DS_Store
Thumbs.db

*.log
*.pot
*.pyc
*.pkl
*.db

dist/
build/
*.egg-info/
*.egg/
pip-wheel-metadata/
.pytest_cache/

.env
.env.*

node_modules/
frontend/node_modules/
